[user]
	name = Christian Villandseie 
	email = christian.villandseie@statsbygg.no
[color]
	ui = auto
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[include]
	path = ~/.gitconfig.local
[credential]
	helper = !pass-git-helper $@
