[user]
	name = Your Name 
	email = your@email.example.com
[color]
	ui = auto
[credential "https://dev.azure.com"]
	useHttpPath = true
[include]
	path = ~/.gitconfig.local
[credential]
	helper = !pass-git-helper $@
